div{
    border:3px solid black;
    width: fit-content;
}
th.purple{
    background-color: purple;
}
td.green{
    background-color: rgba(106,143,50);
}
td.red{
    background-color: red;
}
table,th,td{
    color: darkgreen;
     border: 5px solid blue;
}
 table{
    border-collapse: collapse;
    text-align: center;
    caption-side: bottom;
 }
th,td{
    height:20px;
    padding: 4px;
}